{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon"  href="{% static 'images/aaa.png' %}">

    <title>Dashboard || Ahex Technologies</title>
</head>
<style>
    @media only screen and (max-width: 768px) {
        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .paddingbottom {
            padding-bottom: 10px;
        }

        .mobilefontSize {
            font-size: 13px !important;
        }

        .paddingbottomforDay {
            padding-top: 4px;
        }


    }
</style>

<body style="background-color: rgba(13,8,13,0.91)">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand productName" href="#">CUSRET</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Customers</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="#">Products</a>
            </li>
        </ul>

    </div>
</nav>

<div class="container-fluid">
    <span class="textcolor headerpadding mobilefontSize" style="font-size: 20px;">Hello Ahex Technologies!  </span>
    <span class="textcolor mobilefontSize paddingbottomforDay"
          style="float: right;font-size: 20px;">{{ day }}, {{ time }}</span>
    <br></div>


<div class="container headerpadding">
    <div class="row ">
        <div class="col-sm-12 col-md-4 paddingbottom">
            <div class="card" style=" background:linear-gradient(#f38381,#fcdf8a); width: 350px;height: 320px">
                <div class="card-body">
                    <canvas id="line-chart" width="100" height="80"></canvas>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-4 paddingbottom">
            <div class="card" style=" background:linear-gradient(#0ba29d,#c3ec52); width: 350px;height: 320px">
                <div class="card-body">
                    <canvas id="pie-chart" width="800" height="700"></canvas>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-4 paddingbottom">
            <div class="card" style=" background:linear-gradient(#5D6874,#E3E3E3); width: 350px;height: 320px">
                <div class="card-body">
                    <canvas id="bar-chart" width="800" height="700"></canvas>
                </div>
            </div>
        </div>


    </div>

</div>


<div class="container">
<table class="table">
  <thead>
    <tr style="background-color: white">
      <th style="color:#000;" scope="col">Sl. No</th>
      <th style="color:#000;" scope="col">Name</th>
      <th style="color:#000;" scope="col">Category</th>
      <th style="color:#000;" scope="col">Units</th>
      <th style="color:#000;" scope="col">Price Sell</th>
    </tr>
  </thead>
  <tbody>
  {
  {% for d in data %}
    <tr>
      <th style="color:#fff;" scope="row">{{forloop.counter}}</th>
      <td style="color:#fff;">{{d.name}}</td>
      <td style="color:#fff;">{{d.catergory}}</td>
      <td style="color:#fff;">{{ d.units }}</td>
      <td style="color:#fff;" >{{ d.pricesell }}</td>
    </tr>

{% endfor %}
  <tr>
      <th style="color:#fff;" scope="row">Total</th>
      <td style="color:#fff;">N/A</td>
      <td style="color:#fff;">N/A</td>
      <td style="color:#fff;">{{ Sumunit }} Units</td>
      <td style="color:#fff;" >Rs. {{ PricesellAdded }}</td>
    </tr>

  </tbody>
</table>
</div>

{#{% for d in data %}#}
{#    <span style="color: white">{{ d.pricesell }}</span> <br>#}
{#{% endfor %}#}




<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/Chart.js' %}"></script>

<script src="{% static 'js/DaySalesChart.js' %}"></script>
<script src="{% static 'js/ProductCategorySalesChart.js' %}"></script>
<script src="{% static 'js/TopFiveProfit.js' %}"></script>
</body>
</html>